<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    <h1>Registration</h1>
    <form action="{% url 'redirect' request.p %}" method="post">
        {% csrf_token %}
        <input type="text" name="fname" id="fname" placeholder="Full Name"><br><br>
        <input type="number" min="10" max="99" name="age" id="age" placeholder="Age"> <br> <br>
        <input type="date" id="dob" name="dob" placeholder="Date of Birth"> <br><br>
        <input type="email" name="email" id="email" placeholder="Email"><br><br>
        <input type="password" name="password" id="password" placeholder="Password"><br><br>
        <input type="password" name="c_password" id="c_password" placeholder="Confirm Password"><br><br>
        <input type="submit" value="Register!">
    </form>
</body>
</html>