{% extends 'layout.html' %}
{% load static %}

{% block body %}
<div class="content-header">
    <div class="content-header-intro">
        <h2>Change Password</h2>
        <p>This section can help you to change your password.</p>
    </div>
    <div class="content-header-actions">
        <a href="#" class="button">
            <i class="ph-faders-bold"></i>
            <span>Filters</span>
        </a>
        <a href="#" class="button">
            <i class="ph-plus-bold"></i>
            <span>Request Games</span>
        </a>
    </div>
</div>
{% endblock %}