{% extends 'layout.html' %}
{% load static %}

{% block body %}

<div class="content-header">
    <div class="content-header-intro">
        <h2>Hello, {{user}}</h2>
        <p>Profile Section</p>
    </div>
    <div class="content-header-actions">
        <a href="#" class="button">
            <i class="ph-faders-bold"></i>
            <span>Filters</span>
        </a>
        <a href="#" class="button">
            <!-- <i class="ph-plus-bold"></i>
            <span>Request Games</span> -->
        </a>
    </div>
</div>
<div class="content">
    <div class="content-panel">
        <div class="vertical-tabs">
            <a href="#" class="active">Main</a>
            <a href="#">Details</a>
            <a href="#">Total Earnings</a>
            <a href="#">Daily Surveys</a>
            <a href="{% url 'dashboard:Dashboard_terms_conditions' %}">Terms & Conditions</a>
        </div>
    </div>
    <div class="content-main">
        <iframe src="{% url 'dashboard:Dashboard_profile_ui' %}"
            style="height: 133vh; width: 62vw;" frameborder="0"></iframe>
        <!-- <div class="card-grid">
            <article class="card">
                <div class="card-header">
                    <div>
                        <span><img src="./images/stacker.png" /></span>
                        <h3>Stacker</h3>
                    </div>
                    <label class="toggle">
                    <input type="checkbox" checked>
                    <span></span>
                </label>
                </div>
                <div class="card-body">
                    <p>Stack up blocks.</p>
                </div>
                <div class="card-footer">
                    <a href="#">
                        Win 50<i class="ph-lightning-bold"></i>
                    </a>
                </div>
            </article>
            <article class="card">
                <div class="card-header">
                    <div>
                        <span><img src="./images/cube.png" /></span>
                        <h3>Cube</h3>
                    </div>
                    <label class="toggle">
                    <input type="checkbox" checked>
                    <span></span>
                </label>
                </div>
                <div class="card-body">
                    <p>There are 43 quintillion solutions to solve it.</p>
                </div>
                <div class="card-footer">
                    <a href="#">
                        Win 50<i class="ph-lightning-bold"></i>
                    </a>
                </div>
            </article>
            <article class="card">
                <div class="card-header">
                    <div>
                        <span><img src="./images/tic_tac_toe.png" /></span>
                        <h3>Tic Tac Toe</h3>
                    </div>
                    <label class="toggle">
                    <input type="checkbox" checked>
                    <span></span>
                </label>
                </div>
                <div class="card-body">
                    <p>Easy win.</p>
                </div>
                <div class="card-footer">
                    <a href="#">
                        Win 1,000<i class="ph-lightning-bold"></i>
                    </a>
                </div>
            </article>
            <article class="card">
                <div class="card-header">
                    <div>
                        <span><img src="./images/video.png" /></span>
                        <h3>Earn by Watching Videos</h3>
                    </div>
                    <label class="toggle">
                                        <input type="checkbox" checked>
                                        <span></span>
                                    </label>
                </div>
                <div class="card-body">
                    <p>More Watching = More Earning.</p>
                </div>
                <div class="card-footer">
                    <a href="#">Win 50<i class="ph-lightning-bold"></i>

                    </a>
                </div>
            </article>
            <article class="card">
                <div class="card-header">
                    <div>
                        <span><img src="./images/youtube.png" /></span>
                        <h3>Earn By Subscribing Youtube Channel</h3>
                    </div>
                    <label class="toggle">
                                        <input type="checkbox" checked>
                                        <span></span>
                                    </label>
                </div>
                <div class="card-body">
                    <p>1 Subscribe = 1 Prayer.</p>
                </div>
                <div class="card-footer">
                    <a href="#">Win 50<i class="ph-lightning-bold"></i>

                    </a>
                </div>
            </article>
        </div> -->
    </div>
</div>

{% endblock %}