{% extends 'layout.html' %}
{% load static %} 

    {% block body %}
    <div class="content-header">
        <div class="content-header-intro">
            <h2>Your Surveys</h2>
            <p>This contains a comprehensive list of survey tasks that you have completed.</p>
        </div>
        <div class="content-header-actions">
            <a href="#" class="button">
                <i class="ph-faders-bold"></i>
                <span>Filters</span>
            </a>
            <a href="#" class="button">
                <i class="ph-plus-bold"></i>
                <span>Request Games</span>
            </a>
        </div>
    </div>
    {% endblock %}
