{% extends 'layout.html' %}
{% load static %}
			{% block body %}
			<div class="content-header">
				<div class="content-header-intro">
					<h2>Avaliable Games</h2>
					<p>Play games to earn variety of awards from Reward Stream.</p>
				</div>
				<div class="content-header-actions">
					<a href="#" class="button">
						<i class="ph-faders-bold"></i>
						<span>Filters</span>
					</a>
					<a href="#" class="button">
						<i class="ph-plus-bold"></i>
						<span>Request Games</span>
					</a>
				</div>
			</div>
			<div class="content">
				<div class="content-panel">
					<div class="vertical-tabs">
						<a href="{% url 'dashboard:Dashboard_earning' %}">View all</a>
						<a href="{% url 'dashboard:Dashboard_games' %}">Games</a>
						<a href="{% url 'dashboard:Dashboard_simple_earning' %}">Simple Earning</a>
						<a href="{% url 'dashboard:Dashboard_mega_rewards' %}">Mega Rewards</a>
						<a href="{% url 'dashboard:Dashboard_terms_conditions' %}" class="active">Terms & Conditions</a>
					</div>
				</div>
				<div class="content-main">
					<div class="card-grid">
						<h1>This is the t&c page</h1>
					</div>
				</div>
			</div>
		{% endblock %}